<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="Characters" value="" /> <!-- separated by ; -->
    <add key="CrossBreed.Chat.AppSettings.PinnedConversations" value="['ADH-a3b2ef2a340c1bf9ce38']" /> <!-- JSON array structure -->
    <add key="Host" value="wss://chat.f-list.net:9799" />
    <add key="InsecureServerPort" value="9722" />
    <add key="SecureServerPort" value="" />
    <add key="CertificateFile" value="" />
    <add key="CertificatePassword" value="" />
    <add key="DisconnectedStatus" value="idle;" />
    <add key="BufferChannels" value="false" />
    <add key="BufferPrivate" value="true" />
  </appSettings>
</configuration>