<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="Character" value="" />
    <add key="CrossBreed.Chat.AppSettings.PinnedChannels" value="['Sex Driven LFRP']" /> <!-- JSON array structure -->
    <add key="CrossBreed.Chat.AppSettings/LoggingSettings.LogPrivate" value="true" />
    <add key="CrossBreed.Chat.AppSettings/LoggingSettings.LogChannels" value="true" />
    <add key="CrossBreed.Chat.AppSettings/LoggingSettings.LogAds" value="true" />
    <add key="CrossBreed.Chat.AppSettings/LoggingSettings.LogDirectory" value="logs" />
    <add key="Host" value="wss://chat.f-list.net:9799" />
    <add key="Script" value="Script.cs" />
  </appSettings>
</configuration>